<dynamo-db-add (onAddCallcack)='onAddItemAction($event)'></dynamo-db-add>

<div *ngIf="isErrorExists" class="alert alert-danger" role="alert">
  {{errorMessage}}
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let awsPhotoGaleryItem of awsPhotoGaleryItems">
        <th scope="row">{{awsPhotoGaleryItem.id}}</th>
        <td>{{awsPhotoGaleryItem.name}}</td>
        <td>
          <a [routerLink]="['/app-dynamo-db-details', awsPhotoGaleryItem.id]"  >Details</a>
          |
          <a (click)='deleteItem(awsPhotoGaleryItem.id)' >Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
