<div *ngIf="isErrorExists" class="alert alert-danger" role="alert">
  {{errorMessage}}
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let awsPhotoGaleryItem of awsPhotoGaleryItems">
        <th scope="row">{{awsPhotoGaleryItem.id}}</th>
        <td>{{awsPhotoGaleryItem.name}}</td>
        <td>
          <a href="#" class="stretched-link">Details</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
